[*.cs]

# Default severity for analyzer diagnostics with category 'Correctness'
dotnet_analyzer_diagnostic.category-Correctness.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
